{%- assign note = 0 -%}
{%- assign bitpos = 31 -%}
<table class="bitfield">
  <tr class="bitfield-index">
    {%- for field in include.layout.fields -%}
    {%- assign hi = bitpos -%}
    {%- assign lo = bitpos | minus: field.width | plus: 1 -%}
    {%- assign bitpos = lo | minus: 1 -%}
    <th colspan="{{ field.width }}">
      {% if field.width > 1 -%}
      <span class="bit-hi">{{ hi }}</span>&hellip;<span class="bit-lo">{{ lo }}</span>
      {%- else -%}
      {{ hi }}
      {%- endif %}
    </th>
    {%- endfor -%}
  </tr>
  <tr class="bitfield-fields">
    {%- for field in include.layout.fields -%}
    {%- if field.desc -%}{%- assign note = note | plus: 1 -%}{%- endif -%}
    <td colspan="{{ field.width }}" class="tint-{{ field.kind }}"
        {% if field.desc %}title="{{ field.desc }}"{% endif %}>
      {{ field.name }}{% if field.desc %}<sup>{{ note }}</sup>{% endif %}
    </td>
    {%- endfor -%}
  </tr>
  {%- if note > 0 -%}
  <tfoot class="bitfield-footnote">
    {%- assign note = 0 -%}
    {%- for field in include.layout.fields -%}
      {%- if field.desc -%}
        {%- assign note = note | plus: 1 -%}
        <tr class="bitfield-footnote"><td colspan="32"><sup>{{ note }}</sup> {{ field.desc }}</td></tr>
      {%- endif -%}
    {%- endfor -%}
   </tfoot>
   {%- endif -%}
</table>
