<style>
  @property --glow {
    syntax: "<number>";
    initial-value: 0;
    inherits: true;
  }
  @property --hue {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
  }
  svg {
    stroke:currentColor;
    stroke-width:1.5;
    fill:oklch(from currentColor calc(l * -.8 + .9) c h);
    fill-opacity: 60%;
  }
  text {
    stroke:none;
    fill:currentColor;
    fill-opacity:100%;
    dominant-baseline:middle;
    text-anchor:middle;
  }
  path {
    fill:none;
  }
  * {
    --tinted-stroke: oklch(from currentColor
        calc(clamp(0.4, l, 0.9) - var(--glow,0))
        calc(clamp(0.2, l, 0.8) * -.3 + .35)
        var(--hue));
    --tinted-fill: oklch(from currentColor
        calc(clamp(0.4, 1.2 - l, 0.9) + var(--glow,0))
        calc(clamp(0.2, l, 0.8) * .3 + .05)
        var(--hue));
  }

  {%- for n in (0..32) %}
  .tint{{n}} {--hue:{{n|times:223|modulo:360}}deg;}
  {%- endfor %}

  .tintbox {
    fill: var(--tinted-fill);
  }

  .tintline {
    stroke: var(--tinted-stroke);
  }

  @keyframes hlglow {
    from { --glow: -.3; }
    to   { --glow: .3; }
  }
  .hlset:hover {
    animation: 1.5s linear(0, 1, 0) infinite hlglow;
    font-weight: bold;
    stroke-width: 2px;
  }
</style>
