<style>
  svg {
    stroke:currentColor;
    stroke-width:1.5;
    fill:currentColor;
    fill-opacity:0.0625;
  }
  text {
        stroke:none;
        fill:currentColor;
        fill-opacity:1.0;
        dominant-baseline:middle;
        text-anchor:middle;
  }
  path {
    fill:none;
    fill-opacity:1.0;
  }
  @-webkit-keyframes highlightbg {
    0% { fill-opacity: 0.5; }
    50% {fill-opacity: 0.0; }
    100% {fill-opacity: 0.5; }
  }
  {% for n in (0..20) %} :root {
      --unique-color{{n}}: oklch(
        {{-n | times: 0.6180339887498948482 | modulo: 1 | times: -30 | plus: 80 | round}}{{'% '}}
        {{-n | times: 0.7548776662466927 | modulo: 1 | times: -50 | plus: 125 | round}}{{'% '}}
        {{-n | times: 0.5698402909980532 | modulo: 1 | times: 360 | round}}deg);
  } {% endfor %}
  {% for n in (0..20) %} .block{{n}} { fill:var(--unique-color{{n}}); fill-opacity: 0.125; }
  .blockgroup{{n}} { fill:var(--unique-color{{n}}); fill-opacity: 0.2; }
  .blockgroup{{n}}:hover { fill:var(--unique-color{{n}}); fill-opacity: 0.50;
    font-weight: bold;
    font-size: larger;
    -webkit-animation-name: highlightbg;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1.5s;
  }
  {% endfor %}
</style>
