<style>
@property --glow {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}
@keyframes hlglow {
  from { --glow: -.3; }
  to   { --glow: .3; }
}
.hlset:hover {
  animation: 1.5s linear(0, 1, 0) infinite hlglow;
  font-weight: bold;
  stroke-width: 2px;
}
:root {
  --a2: .81917251339;
  --a0: .6710436067;
  --a1: .5497004779;
}
* {
  --tinted-stroke: oklab(from oklab(from currentColor
      clamp(.4, l *  100 - 50, .9)
      clamp(.15, l * -100 + 50, .3)
      clamp(.15, l * -100 + 50, .3))
    calc(calc(mod(var(--a0) * var(--tint), 1) - l) * .25 + l + var(--glow, 0))
    calc(calc(mod(var(--a1) * var(--tint), 1) - 0.5) * a)
    calc(calc(mod(var(--a2) * var(--tint), 1) - 0.5) * b));
  --tinted-fill: oklab(from oklab(from currentColor
      clamp(.4, l * -100 + 50, .9)
      clamp(.15, l *  100 - 50, .3)
      clamp(.15, l *  100 - 50, .3))
    calc(calc(mod(var(--a0) * var(--tint), 1) - l) * .25 + l + var(--glow, 0))
    calc(calc(mod(var(--a1) * var(--tint), 1) - 0.5) * a)
    calc(calc(mod(var(--a2) * var(--tint), 1) - 0.5) * b));
}
{%- for n in (0..32) %}
.tint{{n}} {--tint:{{n}};}
{%- endfor %}

.tintbox {
  fill: var(--tinted-fill);
}

.tintline {
  stroke: var(--tinted-stroke);
}

svg {
  stroke:currentColor;
  stroke-width: 1.5px;
  fill: oklab(from currentColor clamp(.05, 1 - l, .95) a b);
  fill-opacity: 100%;
}
text {
  stroke:none;
  fill:currentColor;
  fill-opacity:100%;
  dominant-baseline:middle;
  text-anchor:middle;
}
path {
  fill:none;
}
path:nohover {
  stroke-width: 2.5px;
}

</style>
