---
layout: default
---

<div class="tag-page">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if page.opening -%}
    {%- include post_opening.html opening=page.opening -%}
  {%- endif -%}
  {{ content }}

  {%- assign tagged = site.posts | where_exp: "item", "item.tags contains page.tag" -%}
  {%- if tagged.size > 0 -%}
    <h2 class="post-list-heading">Tag: {{ page.tag }}</h2>
    <ul class="post-list">
      {%- for post in tagged -%}
      {%- if post.sitemap != false -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- else -%}
    <p> unused tag </p>
  {%- endif -%}
  {%- assign tagged = site.pages | where_exp: "item", "item.path contains 'tags'" | where_exp: "item", "item.tags contains page.tag" -%}
  {%- if tagged.size > 0 -%}
    <h2 class="post-list-heading">Tags under {{ page.tag }}</h2>
    <ul class="post-list">
      {%- for tagpage in tagged -%}
      {%- if tagpage.sitemap != false -%}
      <li>
        <a class="post-link" href="{{ tagpage.url | relative_url }}">
          {{tagpage.tag}}
        </a>
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- else -%}
    <p> no tags under tag </p>
  {%- endif -%}
</div>
